# Force all text files to be normalized to LF on commit.
* text=auto eol=lf

# Keep binary assets untouched by Git line-ending normalization.
*.7z binary
*.bmp binary
*.gif binary
*.gz binary
*.ico binary
*.jpeg binary
*.jpg binary
*.pdf binary
*.png binary
*.rda binary
*.rds binary
*.RData binary
*.tif binary
*.tiff binary
*.webp binary
*.zip binary
