.Rproj.user
.Rhistory
.RData
.Ruserdata
rstudiothemes.Rcheck/
rstudiothemes*.tar.gz
rstudiothemes*.tgz
.Rapp.history
.Rdata
*-Ex.R
/*.tar.gz
/*.Rcheck/
.Rproj.user/
vignettes/*.html
vignettes/*.pdf
.httr-oauth
*_cache/
/cache/
*.utf8.md
*.knit.md
.Renviron
CRAN-SUBMISSION
cran-comments.md
.github/pkg.lock
Rplots.pdf
docs/
/.quarto/
**/*.quarto_ipynb
inst/doc
**/.quarto/
